# CodeIgniter 4
vendor/
writable/logs/*
!writable/logs/index.html
writable/cache/*
!writable/cache/index.html
writable/session/*
!writable/session/index.html
writable/debugbar/*
!writable/debugbar/.gitkeep

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
